@charset "UTF-8";
/* CSS Document */

#general {
	background:url(../img/cuento_04/bg_cuento_abuelo.png) no-repeat center 0px;
}

#tituloCuento {
	background-image:url(../img/titulo_cuento_s04.png);
}

#boxValores {
	color:#333;
}

/*#spanboxValores {
	color:#777;
}*/

#titleZoomAbuelo {
	background-image:url(../img/titulo_zoom_s04.png);
}

/*esconde btns de audio ya que no se grabó el audio de los cuentos principales*/
#playbtn {
	display:none;
}
#pausebtn {
	display:none;
}
#frasesbtn {
	left:225px;
}
#zoombtn {
	left:310px;
}
/*fin esconde btns de audio...*/

