@charset "UTF-8";
/* CSS Document */

#tituloCuento {
	background-image:url(../img/titulo_ninos_s03.png);
}

#boxValores {
	color:#333;
}

#zoombtn {
	left:326px;
}

#titleZoomTriste {
	background-image:url(../img/titulo_zoom_ninos_s03.png);
}

