@charset "UTF-8";
/* CSS Document */

#general {
	background:url(../img/cuento_04/bg_cuento_abuelo.png) no-repeat center 0px;
}

#tituloCuento {
	background-image:url(../img/titulo_cuento_s04.png);
}

#boxValores {
	color:#333;
}

/*#spanboxValores {
	color:#777;
}*/

#titleZoomAbuelo {
	background-image:url(../img/titulo_zoom_s04.png);
}

