@charset "UTF-8";
/* CSS Document */

#general {
	background:url(../img/cuento_03/bg_cuento_pulgar.png) no-repeat center 0px;
}

#tituloCuento {
	background-image:url(../img/titulo_cuento_s03.png);
}

#boxValores {
	color:#333;
}

/*#spanboxValores {
	color:#777;
}*/

#titleZoomPulgar {
	background-image:url(../img/titulo_zoom_s03.png);
}

