@charset "UTF-8";
/* CSS Document */

#general {
	background:url(../img/cuento_02/bg_cuento_bestia.png) no-repeat center 0px;
}

#tituloCuento {
	background-image:url(../img/titulo_cuento_s02.png);
}

#boxValores {
	/*background:#666;*/
	top:22px;
	right:0px;
	color:#333;
}

/*#spanboxValores {
	color:#777;
}*/

#titleZoomBestia {
	background-image:url(../img/titulo_zoom_s02.png);
}

/*esconde btns de audio ya que no se grabó el audio de los cuentos principales*/
#playbtn {
	display:none;
}
#pausebtn {
	display:none;
}
#frasesbtn {
	left:225px;
}
#zoombtn {
	left:310px;
}
/*fin esconde btns de audio...*/

