@charset "UTF-8";
/* CSS Document */

body {
	background-image:url(../img/bg.jpg);/*grad radial amarillo-celeste*/
}

#general {
	background:url(../img/fasciculo_04/bg.png) no-repeat center 0px;
}

#mari {
	right:100px;
}
.mari01 {
	background:url(../img/fasciculo_04/mariposa_01.png) no-repeat 0px 0px;
	width:51px;
	height:51px;
	top:120px;
}
.mari02 {
	background:url(../img/fasciculo_04/mariposa_02.png) no-repeat 0px 0px;
	width:48px;
	height:48px;
	top:120px;
}

