@charset "UTF-8";
/* CSS Document */

body {
	background-image:url(../img/bg.jpg);/*grad radial amarillo-celeste*/
}

#general {
	background:url(../img/fasciculo_03/bg.png) no-repeat center 0px;
}

#caracol {
	background:url(../img/fasciculo_03/caracol.png) no-repeat 0px 0px;
	
	top:201px;
	left:158px;
	
	width:669px;
	height:492px;
	
	z-index:4;
}

#pulgar {
	background:url(../img/fasciculo_03/pulgar.png) no-repeat 0px 0px;
	
	top:86px;
	left:627px;
	
	width:210px;
	height:367px;
	
	z-index:3;
}

#mano {
	background:url(../img/fasciculo_03/mano.png) no-repeat 0px 0px;
	
	top:382px;
	left:717px;
	
	width:65px;
	height:53px;
	
	z-index:5;
}

