@charset "UTF-8";
/* CSS Document */

body {
	background-image:url(../img/bg.jpg);/*grad radial amarillo-celeste*/
}

#sombrero {
	background:url(../img/fasciculo_02/sombrero.png) no-repeat 0px 0px;
	
	top:10px;
	left:195px;
	
	width:81px;
	height:89px;
	
	z-index:3;
}

#general {
	background:url(../img/fasciculo_02/bg.png) no-repeat center 0px;
}

