@charset "UTF-8";
/* CSS Document */

body {
	background-image:url(../img/bg.jpg);/*grad radial amarillo-celeste*/
	/*
	background-attachment:fixed;
	background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;*/
}

#fasPri {
	background:url(../img/fasciculo_01/fas_pri.png) no-repeat 0px 0px /*530px -20px #999*/ /*530px -20px #999*/;
	
	top:-30px;
	right:50%;
	margin:0px -540px 0px 0px;
	
	width:401px;
	height:630px;
	
	z-index:0;
}

#golondrina {
	background:url(../img/fasciculo_01/golondrina.png) no-repeat 0px 0px;
	
	top:40px;
	right:50%;
	margin:0px 250px 0px 0px;
	
	width:148px;
	height:128px;
	
	z-index:3;
}

#general {
	background:url(../img/fasciculo_01/bg.png) no-repeat center 0px;
}

.pantallas {
	/*background:url(../img/fasciculo/bg.png) no-repeat -36px 0px;*/
}

.btfasciculo {
	/*background:#FFF;*/
	background-repeat:no-repeat;
	background-position:center bottom;
	
	width:314px;
	height:195px;
	z-index:1000;
	
	top:315px;
}

