@charset "UTF-8";
/* CSS Document */

#btjuego2 {
	/*background-color:#999;*/
	background-position:center 15px;
	
	width:220px;
	top:0px !important;
	left:10px;
}
#btjuego2:hover {
	background-position:center 15px;
}

#tituloApp {
	/*background:#966;*/
	top:30px;
	font-size:54px;
	line-height:54px;
}

#instru {
	top:155px;
	font-size:36px;
}

.retro {
	height:270px;
	margin:-135px 0px 0px -350px;
}

.pantallas {
	/*background:#0C0;*/
	margin-top:-650px;
}

#pantalla00 {
	margin-top:0px;
}

.tableDrag td {
	padding:0px !important;
	margin:0px !important;
}

