@charset "UTF-8";
/* CSS Document */

#titleJuegos { background-image:url(../img/titulo_juegos_s02.png); }

#instru {
	top:147px;
	line-height:36px;
}

/* redips */
.tableDrag {
	/*background:#333;*/
	top:150px;
	left:0px;
	width:960px;
}
.drag {
	width:192px;
	height:221px;
}
/* fin redips */

#fosforo1 {
	background-image:url(../img/juegos/fas_02/j02/vasos01.png);
	background-position:-570px 0px;
	background-repeat:no-repeat;
	top:380px;
	left:0px;
	width:960px;
	height:70px;
	padding:75px 0px 0px 0px;
}
#fosforo2 {
	background-image:url(../img/juegos/fas_02/j02/vasos01.png);
	background-position:left 0px;
	background-repeat:no-repeat;
	top:380px;
	left:0px;
	width:960px;
	height:70px;
	padding:75px 0px 0px 0px;
}
#fosforo3 {
	background-image:url(../img/juegos/fas_02/j02/vasos01.png);
	background-position:-380px 0px;
	background-repeat:no-repeat;
	top:380px;
	left:0px;
	width:960px;
	height:70px;
	padding:75px 0px 0px 0px;
}

.totalFos {
	font-size:24px;
}

.unlitro {
	background:url(../img/juegos/fas_02/j02/pichel_1L.png) no-repeat center /*#CCCCCC*/;
}
.doslitro {
	background:url(../img/juegos/fas_02/j02/pichel_2L.png) no-repeat center /*#999999*/;
}
.treslitro {
	background:url(../img/juegos/fas_02/j02/pichel_3L.png) no-repeat center /*#669933*/;
}
.cuatrolitro {
	background:url(../img/juegos/fas_02/j02/pichel_4L.png) no-repeat center /*#FF9900*/;
}
.green_cell {
	background:url(../img/juegos/fas_02/j02/sombra.png) no-repeat center /*#CC6600*/;
	width:192px !important;
}
