@charset "UTF-8";
/* CSS Document */

#titleJuegos { background-image:url(../img/titulo_juegos_s04.png); }

/* redips */
.tableDrag {
	/*background:#333;*/
	top:100px;
	left:0px;
	width:695px;
}
.drag {
	/*background:#CCC;*/
	width:173px !important;
	height:185px !important;
}
.tableDrag td {
	/*background:#FFF;*/
	width:173px !important;
	height:185px !important;
	overflow:hidden !important;
	
	/*vertical-align:central !important;*/
}
.mark {
	width:173px !important;
	height:185px !important;
	max-width:173px;
	max-height:185px !important;
	overflow:hidden !important;
}
/* fin redips */

#fosforo1 {
	background:url(../img/juegos/fas_04/j02/ganador_1.png) no-repeat center 0px /*#CCCCCC*/;
	top:10px;
	right:0px;
	width:260px;
	height:160px;
	padding:290px 0px 0px 0px;
	text-align:center;
}
#fosforo2 {
	background:url(../img/juegos/fas_04/j02/ganador_2.png) no-repeat center 0px /*#CCCCCC*/;
	top:10px;
	right:0px;
	width:260px;
	height:160px;
	padding:290px 0px 0px 0px;
	text-align:center;
}
#fosforo3 {
	background:url(../img/juegos/fas_04/j02/ganador_3.png) no-repeat center 0px /*#CCCCCC*/;
	top:10px;
	right:0px;
	width:260px;
	height:160px;
	padding:290px 0px 0px 0px;
	text-align:center;
}

.totalFos {
	font-size:30px;
}
.totalFos:before {
	content:"Puntaje: ";
}

.bolRoja {
	background:url(../img/juegos/fas_04/j02/bol_roja.png) no-repeat 0px 0px;
}
.bolYellow {
	background:url(../img/juegos/fas_04/j02/bol_yellow.png) no-repeat 0px 0px;
}
.bolAzul {
	background:url(../img/juegos/fas_04/j02/bol_azul.png) no-repeat 0px 0px;
}
.green_cell {
	background:url(../img/juegos/fas_04/j02/sombra.png) /*repeat-y */ no-repeat 0px 0px;
}

.j2alpha60 {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity:0.5;
	opacity:0.5;
}

