@charset "UTF-8";
/* CSS Document */

#btjuego3 {
	/*background-color:#999;*/
	width:240px;
	height:270px;
	top:20px !important;
	left:7px;
}
#btjuego3:hover {
	background-position:center 5px;
}

#formHistoria {
	/*background:#999;*/
	top:120px;
	width:100%;
	margin:0px !important;
	padding:0px !important;
}

form input[type=text] {
	/*background:#6F2975;
	color:#FFF;*/
	background:#F7F7F7;
	width:500px;
	margin:0px 0px 15px 0px;
	padding:8px 10px 8px 10px;
	
	font-family: 'Muli', sans-serif;
	font-weight: 400;
	font-size:14px;
	color:#444;
}
form input[type=text]:focus {
	background:#FFF;
	outline:none;
}

#idCorreoHistoria {
	/*float:left !important;*/
	margin-right:10px;
}

label[for="idCorreoHistoria"] {
	display:block;
	float:left;
	margin:10px 0px 0px 0px;
	/* color:#FFF;*/
	font-size:14px;
}

form textarea {
	/*background:#6F2975;*/
	background:#F7F7F7;
	width:940px;
	margin:0px 0px 15px 0px;
	padding:8px 10px 8px 10px;
	
	font-family: 'Muli', sans-serif;
	font-weight: 400;
	font-size:14px;
	color:#444;
}
form textarea:focus {
	background:#FFF;
	outline: none;
	color:#444;
}

#idTxHistoria {
	height:280px;
}

.btForm {
	background-color:#DBDBDB;
	background-repeat:no-repeat;
	
	margin:0px 20px 0px 0px;
	padding:10px 12px 10px 12px;
	
	font-family: 'Muli', sans-serif;
	font-weight: 400;
	font-size:16px;
	color:#444;
	
	-moz-box-shadow:     inset  0px 0px 7px rgba(0,0,0,0.2);
	-webkit-box-shadow:  inset  0px 0px 7px rgba(0,0,0,0.2);
	box-shadow:          inset  0px 0px 7px rgba(0,0,0,0.2);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=1)";
}
.btForm:hover {
	/*background:#6F2975;
	color:#FFF;*/
	background-color:#FFF;
	
	-moz-box-shadow:     0px 0px 10px rgba(0,0,0,0.5);
	-webkit-box-shadow:  0px 0px 10px rgba(0,0,0,0.5);
	box-shadow:          0px 0px 10px rgba(0,0,0,0.5);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=1)";
}

#btEnviar {
	background-image:url(../img/ico_btEnviar.png);
	background-position:11px 10px;
	padding-left:38px !important;
}
#btBorrar {
	background-image:url(../img/ico_btBorrar.png);
	background-position:11px 11px;
	padding-left:36px !important;
}

#consola {
	/*background:#CCC;*/
	width:430px;
	color:#F30;
	font-size:20px;
	line-height:22px;
}

.alpha50noSahdow {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity:0.5;
	opacity:0.5;
	
	-moz-box-shadow:     0px 0px 0px rgba(0,0,0,0.5);
	-webkit-box-shadow:  0px 0px 0px rgba(0,0,0,0.5);
	box-shadow:          0px 0px 0px rgba(0,0,0,0.5);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0)";
}

