@charset "UTF-8";
/* CSS Document */

#titleJuegos { background-image:url(../img/titulo_juegos_s05.png); }

/* redips */
.tableDrag {
	/*background:#333;*/
	top:100px;
	left:0px;
	width:960px;
}
.drag {
	/*background:#CCC;*/
	width:240px !important;
	height:220px !important;
}
.tableDrag td {
	/*background:#FFF;*/
	width:240px !important;
	height:220px !important;
	overflow:hidden !important;
	
	/*vertical-align:central !important;*/
}
.mark {
	width:240px !important;
	height:220px !important;
	max-width:240px;
	max-height:220px !important;
	overflow:hidden !important;
}
/* fin redips */

#instru {
	top:155px;
	font-size:30px;
    line-height:34px;
}

#fosforo1 {
	/*background:#CCC;*/
	top:155px;
	right:0px;
	width:240px;
	text-align:center;
}
#fosforo2 {
	/*background:#CCC;*/
	top:360px;
	right:0px;
	width:240px;
	text-align:center;
}
#fosforo3 {
	/*background:#CCC;*/
	top:155px;
	right:0px;
	width:240px;
	text-align:center;
}

.totalFos {
	font-size:36px;
}
.totalFos:before {
	content:"Reciclar: ";
}

.green_cell {
	background:url(../img/juegos/fas_05/j02/bote_verde.png) no-repeat 0px 0px;
}
.orange_cell {
	background:url(../img/juegos/fas_05/j02/bote_yellow.png) no-repeat 0px 0px;
}
.blue_cell {
	background:url(../img/juegos/fas_05/j02/bote_azul.png) no-repeat 0px 0px;
}

/* pantalla 1 */
.plastico3 {
	background:url(../img/juegos/fas_05/j02/plastico_3.png) no-repeat center;
}
.papel5 {
	background:url(../img/juegos/fas_05/j02/papel_5.png) no-repeat center;
}
.aluminio2 {
	background:url(../img/juegos/fas_05/j02/aluminio_2.png) no-repeat center;
}

/* pantalla 2 */
.papel2 {
	background:url(../img/juegos/fas_05/j02/papel_2.png) no-repeat center;
}
.aluminio8 {
	background:url(../img/juegos/fas_05/j02/aluminio_8.png) no-repeat center;
}
.papel4 {
	background:url(../img/juegos/fas_05/j02/papel_4.png) no-repeat center;
}

/* pantalla 3 */
.plastico3 {
	background:url(../img/juegos/fas_05/j02/plastico_3.png) no-repeat center;
}
.papel2 {
	background:url(../img/juegos/fas_05/j02/papel_2.png) no-repeat center;
}
.aluminio1 {
	background:url(../img/juegos/fas_05/j02/aluminio_1.png) no-repeat center;
}

