@charset "UTF-8";
/* CSS Document */

#titleJuegos { background-image:url(../img/titulo_juegos_s06.png); }

/* redips */
.tableDrag {
	top:100px;
	left:0px;
	width:707px;
	/*height:123px;*/
}
.tableDrag td {
	/*background:#FFF; */
	width:100px !important;
	height:100px;
	
	max-height:100px;
	
	border-bottom:#999 dashed 1px;
	border-right:#999 dashed 1px;
}
.drag {
	/*background:#FFF;*/
	border:none !important;
	width:100px !important;
	/*max-width:100px !important;*/
	height:100px !important;
	
	float:left !important;
	clear:none !important;
}

.yellow {
	/*background-color:#666*/
	background-image:url(../img/juegos/fas_06/j02/fyellow.png);
	background-repeat:no-repeat;
	background-position:center;
	/*position:absolute;
	z-index:3001 !important;*/
}
.red {
	/*background-color:#333*/
	background-image:url(../img/juegos/fas_06/j02/froja.png);
	background-repeat:no-repeat;
	background-position:center;
	/*position:absolute;
	z-index:3002 !important;*/
}
.white {
	/*background-color:#999;*/
	background-image:url(../img/juegos/fas_06/j02/fblanca.png);
	background-repeat:no-repeat;
	background-position:center;
	/*position:absolute;
	z-index:3003 !important;*/
}
.red_cell, .yellow_cell, .white_cell {
	background:url(../img/juegos/fas_06/j02/regadera.png) no-repeat center;
}

.florPeq {
	background-color:#CCC;/**/
	position:relative !important;
	display:inline-block !important;
	/*float:left !important;
	clear:none !important;*/
	
	width:50px;
	height:50px;
	
	-ms-transform-origin: left top;
	-webkit-transform-origin: left top;
	-moz-transform-origin: left top;
	-o-transform-origin: left top;
	transform-origin: left top;
	
	transform: 			scale(0.5);
	-ms-transform: 		scale(0.5); /* IE 9 */
	-webkit-transform:  scale(0.5); /* Safari and Chrome */
	-moz-transform: 	scale(0.5); /* FF */
	-o-transform: 		scale(0.5); /* Opera */
}

.peqs {
	background-position:0px 0px;
	background-repeat:no-repeat;
	display:block;
	float:left;
	width:50px;
	height:50px;
}
.redPeq, .redc0Peq, .redc1Peq, .redc2Peq, .redc3Peq, .redc4Peq, .redc5Peq, .redc6Peq {
	/*background-color:#F30;*/
	background-image:url(../img/juegos/fas_06/j02/redPeq.png);
}
.yellowPeq, .yellowc0Peq, .yellowc1Peq, .yellowc2Peq, .yellowc3Peq, .yellowc4Peq, .yellowc5Peq, .yellowc6Peq, .yellowc7Peq, .yellowc8Peq, .yellowc9Peq, .yellowc10Peq, .yellowc11Peq {
	/*background-color:#FC0;*/
	background-image:url(../img/juegos/fas_06/j02/yellowPeq.png);
}
.whitePeq, .whitec0Peq, .whitec1Peq, .whitec2Peq, .whitec3Peq, .whitec4Peq {
	/*background-color:#FFF;*/
	background-image:url(../img/juegos/fas_06/j02/whitePeq.png);
}

#table0 {
	/*background:#999; */
	position:absolute;
	top:40px;
	right:0px;
	height:100px;
	margin:0px;
	padding:0px;
}

.txdia {
	/*background:#CCC;*/
	border-right:none !important;
	height:23px !important;
	padding:0px !important;
	margin:0px !important;
	text-align:center;
	text-transform:uppercase;
}
.nested_table1 td {
	/*background:#CCC;
	background:none;*/
	border:none !important;
	width:50px !important;
	height:50px !important;
}

.borLeft {
	border-left:#999 dashed 1px;
}
/* fin redips */

#fosforo1 {
	/*background:#CCC; */
	top:255px;
	right:0px;
	width:240px;
	text-align:center;
}

.peq2 {
	background-position:center bottom;
	background-repeat:no-repeat;
	display:inline-block;
	/*display:block;
	float:left;*/
	width:30px;
	height:30px;
}
.redPeq2 {
	/*background-color:#F30;*/
	background-image:url(../img/juegos/fas_06/j02/redPeq2.png);
}
.yellowPeq2 {
	/*background-color:#FC0;*/
	background-image:url(../img/juegos/fas_06/j02/yellowPeq2.png);
}
.whitePeq2 {
	/*background-color:#FFF;*/
	background-image:url(../img/juegos/fas_06/j02/whitePeq2.png);
}

.totalFos {
	font-size:20px;
}

